{% extends 'base.html' %}

{% block content %}
<h1>this is the home page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ducimus? Quaerat soluta commodi asperiores nemo repudiandae. Iusto et veniam ullam labore porro blanditiis debitis, at ea. Quisquam ullam modi consequatur necessitatibus sint maxime architecto quod voluptas vero, repellat culpa illo earum facere, eius, commodi veritatis voluptatem expedita suscipit consectetur reiciendis repudiandae. Totam at eos delectus placeat quaerat deleniti adipisci eveniet! Omnis maiores recusandae suscipit, sit accusantium, itaque officia labore nobis, illo eos impedit ab id eveniet rem blanditiis veritatis accusamus nesciunt ad error molestias dolore ipsa nihil corrupti numquam! Nam beatae explicabo repellendus magni distinctio cupiditate ipsa necessitatibus unde deserunt.</p>
{% endblock %}

