
{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form class="card card-body" method="post">
                <h1>SignUp</h1>
                <div style="color: firebrick;">
                    {{error}}
                </div>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="usermane">Nombre de usuario:</label>
                    <input id="usermane" type="text" name="username" class="form-control" placeholder="Ingresa tu nombre de Usuario" required>
                </div>

                <div class="mb-3">
                    <label for="password1">Contraseña:</label>
                    <input id="password1" type="password" name="password1" class="form-control" placeholder="Ingresa tu contraseña" required>
                </div>

                <div class="mb-3">
                    <label for="password2">Confirma tu contraseña:</label>
                    <input id="password2" type="password" name="password2" class="form-control" placeholder="Vuelve a ingresar tu contraseña" required>
                </div>
 
                <button class="btn btn-primary btn-block" type="submit">
                    signUp
                </button>

                <br>            
                <a class="text-secondary text-decoration-none" href="/signin">
                    Iniciar sesión
                    <i class="fas fa-caret-right"></i> 
                </a>
            </form>
        </div>
    </div>
</main>

{% endblock %}
